@using DockerRegistryUI.Controllers;
@using static DockerRegistryUI.Pages.RepositoryList;

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Repository</th>
            <th>Url</th>
            <th colspan="10"></th>
        </tr>
    </thead>
    <tbody>
        @switch (LoadStatus)
        {
            case LoadStatus.Pending:
                <tr><td colspan="10">Webhooks have not been loaded yet. Please wait...</td></tr>
                break;

            case LoadStatus.InProgress:
                <tr><td colspan="10">Loading webhooks...</td></tr>
                break;

            case LoadStatus.Failed:
                <tr><td colspan="10" class="text-danger">Failed to load webhooks.</td></tr>
                break;

            case LoadStatus.Succeeded:
                if (Webhooks.Any())
                {
                    foreach (var viewModel in WebhookViewModels)
                    {
                        var webhook = viewModel.Webhook;
                        <tr>
                            <td style="white-space:nowrap"><a href="repositories/@webhook.RepositoryName">@webhook.RepositoryName</a></td>
                            <td style="width:100%">@webhook.Url</td>
                            <td><button type="button" @onclick=@(() => viewModel.LoadCallHistory()) class="btn btn-secondary">History</button></td>
                            <td><button type="button" @onclick=@(() => DeleteWebhook(webhook)) class="btn btn-danger">Delete</button></td>
                        </tr>

                        @if (viewModel.HasLoadedCallHistory)
                        {
                            <tr>
                                <td colspan="100">
                                    @if (viewModel.CallHistory.Any())
                                    {
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Time</th>
                                                <th>Status Code</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var callHistory in viewModel.CallHistory)
                                            {
                                                <tr>
                                                    <td>@callHistory.Time</td>
                                                    <td style="padding-left:20px;">@callHistory.ResponseCode</td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                    }
                                    else
                                    {
                                    <span>No webhook call history found.</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr><td colspan="10">No webhooks found</td></tr>
                }
                break;
        }

    </tbody>
</table>